<p>list-posts works!</p>


<h1>List Posts</h1>

<app-form (onAccept)="filterList($event)" >
  <ng-container [formGroup]="group" *formg="let group">
    <div class="flex flex-row">
      <app-text-field [name]="'title'" [label]="'Filter by title'" [value]="(filter$ | async)?.title" MatField></app-text-field>
      <app-text-field [name]="'author'" [label]="'Filter by author'" [value]="(filter$ | async)?.author"  MatField></app-text-field>      
    </div>
  </ng-container>
</app-form>

<ng-container *ngIf="!(loading$ | async); else loading">
<app-table  [dataSource]="posts$ |async"  >
    <table-info>
      <col-info [name]="'author'" [header]="'Author Tpl'" [typeCell]="'tpl'" [sort]="true">
        <ng-template CellRender let-row>Author:{{ row.author }}</ng-template>
      </col-info>
      <col-info [name]="'title'" [header]="'Title'" [sort]="true" [typeCell]="'extended'"> </col-info>
      <col-info [name]="'id'" [header]="'Id'" > </col-info>
      <col-info [name]="'title'" [header]="'Title'" [sort]="true"> </col-info>
      <col-info [name]="'id'" [header]="'Id'" [typeCell]="'extended'"> </col-info>          
    </table-info>
  </app-table>
</ng-container>

<ng-template #loading>
  <lib-spinner></lib-spinner>
</ng-template>

  