
<h1>List comments</h1>
<lib-button [label]="'Test extra'" (onClick)="testExtra()"></lib-button>
<app-form (onAccept)="filterList($event)" #formfilter >
  <ng-container [formGroup]="group" *formg="let group">
    <div class="flex flex-row">
      <app-text-field [name]="'comment'" [label]="'Filter by comment'" [value]="(filter$ | async)?.comment" MatField [validations]="validations">
      </app-text-field>
      <app-text-field [name]="'author'" [label]="'Filter by author'" [value]="(filter$ | async)?.author" MatField>
      </app-text-field>
      <app-text-field [name]="'id'" [label]="'Filter by Id'" [value]="(filter$ | async)?.id" MatField>
      </app-text-field>
    </div>
  </ng-container>
</app-form>
<app-paginator [enablePrev]="linksStatus.prev" [enableNext]="linksStatus.next" [enableFirst]="linksStatus.first" [enableLast]="linksStatus.last"
  (typeEvent)="paginate($event)" *ngIf="linksStatus$ | async as linksStatus"></app-paginator>

  <ng-container *libLoading="loading$ | async">
  <app-table [dataSource]="comments$ |async" (onSort)="sortData($event)" [sortCurrent]="sort$ | async" (onClickRow)="onClickRow($event)">
    <table-info>
      <col-info [name]="'author'" [header]="'Author Tpl'" [typeCell]="'tpl'" [sort]="true">
        <ng-template CellRender let-row>Author:{{ row.author }}</ng-template>
      </col-info>
      <col-info [name]="'comment'" [header]="'Comment'" [sort]="true" [typeCell]="'extended'"> </col-info>
      <col-info [name]="'id'" [header]="'Id'" [sort]="true"> </col-info>
      <col-info [name]="'comment'" [header]="'Comment'" [sort]="true"> </col-info>
      <!-- <col-info [name]="'id'" [header]="'Id'" [typeCell]="'extended'"> </col-info> -->
    </table-info>
  </app-table>
</ng-container>

<div *ngFor="let query of queryLoadings" class="query">
  <div *libLoading="selectQueryTest(query.name) | async">
  name={{query.name}}
  data={{query.data}}
 </div>
</div>


